body{
    background-image:url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    background-color: white;
}

#headerOne {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 42px;
}
#divLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 42px;
}
#headlineLogo {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    color: #6ac25a; 
    margin-top:0;
    /* margin-left: 25px; */
}

#container{
    background-color: white;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

